# Ignore node_modules from both frontend and backend
**/node_modules
**/bin
**/obj

# Ignore Git and system files
.git
.gitignore
Dockerfile
.dockerignore

# Ignore IDE/editor files
.vscode
*.log

# Mac system files
.DS_Store

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build output (in case it's not being referenced directly)
**/build