/.vs/ProjectEvaluation/squidgamecollins.metadata.v9.bin
/.vs/ProjectEvaluation/squidgamecollins.projects.v9.bin
/.vs/ProjectEvaluation/squidgamecollins.strings.v9.bin
/.vs/SquidGameCollins/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/SquidGameCollins/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/SquidGameCollins/DesignTimeBuild/.dtbcache.v2
/.vs/SquidGameCollins/FileContentIndex/1ddb8dee-8445-4c01-b912-f481d92cf7dd.vsidx
/.vs/SquidGameCollins/FileContentIndex/3074ab71-d240-4fbe-b3e7-41d991c1eafa.vsidx
/.vs/SquidGameCollins/FileContentIndex/7c84950c-00b4-4bd0-b738-c92cb3377e2b.vsidx
/.vs/SquidGameCollins/FileContentIndex/8e42769f-e198-4050-b471-9d5c696d0239.vsidx
/.vs/SquidGameCollins/FileContentIndex/8f283e2b-9631-4c38-ac82-88ab0aeaf7e0.vsidx
/.vs/SquidGameCollins/FileContentIndex/e96d5898-6a43-4b3a-9bbd-d3ba06374543.vsidx
/.vs/SquidGameCollins/v17/.futdcache.v2
